[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.kidnapper
Exec=/usr/bin/ru.template.kidnapper
Name=kidnapper
Name[ru]=Антишпион

[X-Application]
Permissions=Sensors;Internet;Location;RemovableMedia;UserDirs
OrganizationName=ru.template
ApplicationName=kidnapper
ExecDBus=/usr/bin/ru.template.kidnapper
