[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.kidnapper
Exec=/usr/bin/ru.template.kidnapper
Name=kidnapper
Name[ru]=Антишпион

[X-Application]
Permissions=AccessSecurityLog;LogSecurityEvents;Sensors;SecureStorage;PushNotifications;DeviceInfo;Audio;Bluetooth;Camera;Internet;Location;Market;MediaIndexing;Microphone;NFC;RemovableMedia;UserDirs;WebView
OrganizationName=ru.template
ApplicationName=kidnapper
ExecDBus=/usr/bin/ru.template.kidnapper
